
body {
    font-family: Roboto, sans-serif;
    margin: 0;
}



.top {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
} 

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

button {
    padding: 8px 16px;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text {
    width: 400px;
}

img {
    height: 200px;
    width: auto;
}