@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 22px;
    color: white;
    font-weight: bold;
    padding: 5px 35px;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
}

footer,
.top {
    background-color: #1f2937;
}

/* CSS for the header and hero-text message */
.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
} 

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    font-size: 22px;
    color: whitesmoke;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.hero-text {
    width: 500px;
    height: 200px;
}

.top img {
    height: 200px;
    width: auto;
}

/* CSS for random information section */
.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 125px;
}

.info-container img {
    height: 150px;
    width: 150px;
}

.random{
    max-width: 150px;
}

/* CSS for section 3 the quote */
.quote-section {
    background-color: #E5E7EB;
}

.quote-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 0;
}

.signature {
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
    margin: 0;
}

/*section 4*/
.final-container {
    width: 75%;
    height: 125px;
    background-color: #3882f6;
    margin: 75px auto;
    border-radius: 5px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.fourth-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;   
}

.fourth-text {
    margin-top: 0;
}

.button2 {
    display: flex;
    height: fit-content;
    align-self: center;    
}

.final-button {
    border: 2px solid white;
    
}

/*footer*/
footer {
    text-align: center;
    padding: 5px;
}

.footer-text {
    font-size: 15px;
    color: wheat;
    margin-bottom: 12px;
}